<mat-toolbar color="primary">
  <mat-icon>view_stream</mat-icon>
  <span>
    StreamNoMoreFam
  </span>

  <span class="fill"></span>

  <span *ngIf="username">
    <mat-icon>account_box</mat-icon>
    {{ username }}
  </span>

</mat-toolbar>

<nav mat-tab-nav-bar mat-stretch-tabs class="full-width">
  <a mat-tab-link
  *ngFor="let link of navLinks"
  [routerLink]="link.link"
  routerLinkActive
  #rla="routerLinkActive"
  [active]="rla.isActive">
    {{ link.label }}
  </a>
</nav>
<router-outlet></router-outlet>