<mat-toolbar color="primary">
  <mat-icon>view_stream</mat-icon>
  <span>
    StreamNoMoreFam
  </span>

  <!-- This fills the remaining space of the current row -->
  <!-- <span class="fill"></span>
  <span>Right Aligned Text</span> -->
  
</mat-toolbar>

<mat-tab-group mat-stretch-tabs class="full-width">

  <mat-tab label="Start">
    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>Paste a video link here</mat-label>
        <input matInput placeholder="e.g. https://www.youtube.com/watch?v=...">
        <mat-icon matSuffix>insert_link</mat-icon>
        <mat-hint>
          For a list of supported site click <a href="#">here</a>
        </mat-hint>
      </mat-form-field>
    </div>
  </mat-tab>

  <mat-tab label="Downloads"> Content 2 </mat-tab>
  
  <mat-tab label="Files"> Content 3 </mat-tab>
</mat-tab-group>
