<div class="container">
    <mat-form-field appearance="outline">
        <mat-label>Paste a video link here</mat-label>
        <input matInput placeholder="e.g. https://www.youtube.com/watch?v=...">
        <mat-icon matSuffix>insert_link</mat-icon>
        <!-- <mat-hint>
            For a list of supported site click <a href="#">here</a>
        </mat-hint> -->

    </mat-form-field>

    <mat-button-toggle-group>
        <mat-button-toggle
            value="audio"
            aria-label="Audio"
            [checked]="audioOnly" 
            (change)="audioOnly = true">
            <mat-icon>music_note</mat-icon> Audio
        </mat-button-toggle>
        <mat-button-toggle
            value="video"
            aria-label="Video"
            [checked]="!audioOnly" 
            (change)="audioOnly = false">
            <mat-icon>ondemand_video</mat-icon> Video
        </mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-raised-button color="primary">
        <mat-icon>play_arrow</mat-icon>
        Start Download
    </button>
</div>