<div class="container">

    <div *ngIf="downloads.length === 0" class="no-downloads">
        Currently no downloads
    </div>

    <section *ngFor="let download of downloads">
        <div class="progress-label main">
            {{ download.targetFile }}
        </div>
        <mat-progress-bar [value]="download.progress.percentage"></mat-progress-bar>
        
        <div class="progress-label" *ngIf="download.status === 'STARTING'">
            Starting ...
        </div>
        <div class="progress-label" *ngIf="download.status === 'IN_PROGRESS'">
            {{ download.progress.percentage }}%
            <div class="right">
                <mat-icon>timer</mat-icon>
                {{ timeString(download.progress.eta) }}
            </div>
        </div>
        <div class="progress-label" *ngIf="download.status === 'FINISHED'">
            <button mat-raised-button color="primary" (click)="removeDownload(download)">
                Finished
                <mat-icon aria-hidden="false">check_circle_outline</mat-icon>
            </button>
        </div>
        <div class="progress-label" *ngIf="download.status === 'ERROR'">
            <button mat-raised-button color="warn" (click)="removeDownload(download)">
                Error
                <mat-icon aria-hidden="false">close</mat-icon>
            </button>
        </div>
        <div class="progress-label" *ngIf="download.status === 'COMPLETE_CONVERTING'">
            Download complete. Converting ...
        </div>
    </section>

</div>