.progress-label {
    padding: 0.5rem 0;

    &.main {
        font-size: 1.3rem;
    }

    & .right {
        float: right;
        display: flex;
        align-items: center;
    }
}

section {
    margin-bottom: 2rem;
}

.no-downloads {
    text-align: center;
}