/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #303030;
}

mat-icon,
input {
    color: #fff;

    :disabled & {
        color: rgba(255,255,255,.3);
    }
}

.mat-progress-bar-buffer {
    background-color: rgba($color: #fff, $alpha: 0.67);
}
.mat-progress-bar-background {
    display: none;
}
.mat-icon {
    vertical-align: middle;
}