a {
    color: #c2185b;
}

.container {
    padding: 10%;
    color: #fff;
}

section {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}

label {
    padding-bottom: 0.67rem;
}

.mat-button-toggle {
    width: 50%;
    color: rgba(255, 255, 255, 0.35) !important;

    mat-icon {
        color: rgba(255, 255, 255, 0.35) !important;
    }
}

.mat-button-toggle-checked {

    // Not possible to access primary color... -_-
    background: #c2185b;

    color: #fff !important;

    mat-icon {
        color: #fff !important;
    }
}

.mat-raised-button {
    font-size: 1rem;
    padding: 1rem;
}