<div class="container">

    <section>
        <mat-form-field appearance="outline">
            <mat-label>Paste a video link here</mat-label>
            <input matInput placeholder="e.g. https://www.youtube.com/watch?v=..."
                    name="url"
                    [ngModel]="url"
                    (ngModelChange)="setUrl($event)">
            <mat-icon matSuffix>insert_link</mat-icon>
            <mat-hint>
                For a list of supported video sites click <a href="#">here</a>
            </mat-hint>
        </mat-form-field>
    </section>

    <section>
        <div *ngIf="!videoInfo && !videoInfoLoading" class="no-videoinfo">
            <div class="hint">
                No preview available
            </div>
        </div>

        <div *ngIf="videoInfoLoading" class="loading-indicator">
            <mat-progress-bar
                color="primary"
                mode="indeterminate">
            </mat-progress-bar>
            <div class="hint">
                Loading preview
            </div>
        </div>

        <div *ngIf="videoInfo" class="videoinfo">
            <div class="title">
                {{ videoInfo.fulltitle }}
            </div>
            <div class="duration">
                [{{ videoInfo.duration }}]
            </div>
            <img class="preview" [src]="videoInfo.thumbnail">
        </div>
    </section>

    <section>
        <label>
            Download as:
        </label>
        <mat-button-toggle-group>
            <mat-button-toggle value="audio" aria-label="Audio" [checked]="audioOnly" (change)="audioOnly = true">
                <mat-icon>music_note</mat-icon> Audio
            </mat-button-toggle>
            <mat-button-toggle value="video" aria-label="Video" [checked]="!audioOnly" (change)="audioOnly = false">
                <mat-icon>ondemand_video</mat-icon> Video
            </mat-button-toggle>
        </mat-button-toggle-group>
    </section>

    <section>
        <button mat-raised-button color="primary" (click)="startDownload()" [disabled]="loading || !url">
            <span *ngIf="!loading" class="button-content">
                <mat-icon>play_arrow</mat-icon>
                Start Download
            </span>
            <span *ngIf="loading" class="button-content">
                <mat-spinner [diameter]="30" color="accent"></mat-spinner>
                Loading ...
            </span>
        </button>
    </section>

</div>