
section {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}

label {
    padding-bottom: 0.67rem;
}

.mat-button-toggle {
    width: 50%;
    color: rgba(255, 255, 255, 0.35) !important;

    mat-icon {
        color: rgba(255, 255, 255, 0.35) !important;
    }
}

.mat-radio-button {
    display: block;
    padding: 2px 16px;
}

.mat-button-toggle-checked {

    // Not possible to access primary color... -_-
    background: #c2185b;

    color: #fff !important;

    mat-icon {
        color: #fff !important;
    }
}

.mat-raised-button {
    font-size: 1rem;
    padding: 1rem;
}

mat-spinner {
    display: inline-block;
}

.loading-indicator .hint {
    text-align: center;
    padding: 0.5rem;
}

.videoinfo {
    .title {
        margin-bottom: 0.5rem;
    }

    .duration {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
    }

    img.preview {
        width: 100%;
    }
}

.no-videoinfo {
    display: block;
    text-align: center;
}

.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
}